.logo {
font-size: 3em;

 }
.main-class {
    
    
}
.details-container {
text-align: center;


}
.details-image {
    
}
.details-title {
display: block;

      
}
.thumbnails-list {
 list-style: none;

}
.thumbnails-item {
text-align: center;
}
.thumbnails-image {
width: 7em;
height: 7em;
}
.thumbnails-title {
display: block;
    
}
.thumbnails-anchor {
text-align: center;
       
}