.logo  {
font-size: 1.5em; 
text-align: center;

}
.main-class {

    text-align: center;

}
.details-container {


}
.details-image {
    width: 100px;

}
.details-title {
display: block;

}
.thumbnails-list {
   list-style: none

  
}
.thumbnails-item {
    text-align: center;


}
.thumbnails-image {
    width: 100px;

 

}
.thumbnails-title {
    display: block; 
}
.thumbnails-anchor {
   
  
}